/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

@font-face {
  font-family: "WorkSans-Regular";
  src: url(../font/WorkSans-Regular.ttf);
}

:root {
  --text-color: #f2fdff;
  --header-height: 100px;
  --burger-width: 40px;
  --font-headings: "WorkSans-Regular", sans-serif;
  --font-heavy: "Anton", serif;
  --size-xs: 1rem;
  --size-sm: 1.3vw;
  --size-md: 2.2vw;
  --size-lg: 3.6vw;
  --size-xl: 5.4vw;
  --size-xxl: 7vw;

  /* --bg-default: #f17455; */
  --bg-default: #000505;
  --bg-green: #acb7ae;
  --bg-lightgreen: #a6b3b3;
  --bg-lightbrown: #b0a7a4;
  --bg-lightblue: #a3abb1;

  --bg-loaderblue: #002929;
  --bg-loaderbluedark: #001414;
  --bg-fill-color: var(--bg-default);

  --loader-width: 27.36vw;
  --loader-height: 50vh;

  --v-spacing: 10vh;
  --h-gutter: 6.6vw;

  /* --easing: ease; */
  --easing: cubic-bezier(0.5, 0.7, 0.4, 1);

  -webkit-tap-highlight-color: transparent;
}

@media only screen and (max-width: 1024px) {
  :root {
    --size-sm: 3vw;
    --size-md: 4vw;
    --size-lg: 5vw;
    --size-xxl: 10vw;

    --loader-width: 40vw;
    --loader-height: 50vh;
  }
}

@media only screen and (max-width: 700px) {
  :root {
    --size-xs: 0.75rem;
    --size-md: 5vw;

    --size-lg: 6vw;
  }
}

body {
  font: 16px/1.7 "WorkSans-Regular", Helvetica, Helvetica Neue, Arial,
    sans-serif;
  color: var(--text-color);
  overflow-y: hidden !important;
}

/* GSAP Smooth Scrolling */
#viewport {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

/* =Top Nav */
.logo {
  position: fixed;
  left: 0;
  height: var(--header-height);
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 3;
}
.logo__text,
.logo__img {
  color: var(--text-color);
  font-size: var(--size-md);
  font-family: var(--font-heavy);
  padding-left: var(--h-gutter);
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  opacity: 1;
  text-transform: uppercase;
}
.logo__img {
  display: block;
  position: absolute;
  left: 2vw;
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  opacity: 0;
  z-index: 1;
  text-decoration: none;
  padding-left: 0;
}

.burger {
  width: var(--burger-width);
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: auto;
  right: var(--h-gutter);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 2;
  -webkit-transition: -webkit-transform 0.6s var(--easing);
  transition: -webkit-transform 0.6s var(--easing);
  -o-transition: transform 0.6s var(--easing);
  transition: transform 0.6s var(--easing);
  transition: transform 0.6s var(--easing), -webkit-transform 0.6s var(--easing);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.burger__open span {
  width: var(--burger-width);
  height: 2px;
  background-color: #fff;
  margin: 6px 0;
  display: block;
}
.burger button {
  position: absolute;
  cursor: pointer;
  border: none;
  padding: 0;
  height: 40px;
  background: none;
}

/* =Main Navigation */
.main-nav {
  position: fixed;
  top: 0;
  right: var(--h-gutter);
  z-index: 3;
}
.main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-nav li {
  padding: 0;
  margin-right: 3vw;
  height: var(--header-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.main-nav li:last-child {
  margin-right: 0;
}
.main-nav a {
  color: var(--text-color);
  font-size: var(--size-xs);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1vw;
  position: relative;
  overflow: hidden;
  mix-blend-mode: difference;
}
.main-nav a:after {
  display: block;
  content: "";
  height: 2px;
  background-color: var(--text-color);
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-transform: translateX(-101%);
  -ms-transform: translateX(-101%);
  transform: translateX(-101%);
}
.main-nav a:hover::after {
  -webkit-transition: -webkit-transform 0.3s var(--easing);
  transition: -webkit-transform 0.3s var(--easing);
  -o-transition: transform 0.3s var(--easing);
  transition: transform 0.3s var(--easing);
  transition: transform 0.3s var(--easing), -webkit-transform 0.3s var(--easing);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.main-nav a.animate-out::after {
  -webkit-transition: -webkit-transform 0.3s var(--easing);
  transition: -webkit-transform 0.3s var(--easing);
  -o-transition: transform 0.3s var(--easing);
  transition: transform 0.3s var(--easing);
  transition: transform 0.3s var(--easing), -webkit-transform 0.3s var(--easing);
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

/* Reveal logo and move buger when the user scrolls */
.has-scrolled .logo__img {
  opacity: 1;
}
.has-scrolled .logo__text {
  opacity: 0;
}

/* =Header */
header {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  -webkit-perspective-origin: center;
  perspective-origin: center;
  z-index: 2;
  margin-bottom: var(--v-spacing);
}
header h1 {
  font-family: var(--font-heavy);
  font-weight: normal;
  color: #fff;
  font-size: var(--size-xxl);
  line-height: 1.2;
  z-index: 1;
  margin-bottom: 0;
  pointer-events: none;
}
header h1 span {
  display: block;
}
.subtitle {
  z-index: 1;
  font-size: var(--size-sm);
  color: var(--text-color);
  letter-spacing: 0.3vw;
  font-weight: 300;
  pointer-events: none;
  text-transform: uppercase;
}
.decor__circle {
  border: 2px var(--text-color) solid;
  border-radius: 100%;
  width: 36vw;
  height: 36vw;
  position: absolute;
  top: 25vh;
  left: 27vw;
  opacity: 0.3;
  pointer-events: none;
  z-index: 1;
}
.cta__circle {
  pointer-events: none;
  width: 7.7vw;
  height: 7.7vw;
  position: absolute;
  top: auto;
  bottom: -3.8vw;
  left: 58%;
  background: url("../img/img_logo.svg") no-repeat center;
  background-size: 50% 50%;
}
.cta__circle--logo {
  width: 7.7vw;
  height: 7.7vw;
  background: url("../img/img_scroll-badge.svg") no-repeat center;
  background-size: 100% 100%;
  -webkit-animation: rotation 45s linear infinite;
  animation: rotation 45s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
}
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* =Header Gallery (random image proportion) 
  Calculate aspect by setting a width first, then adjust padding bottom.
  Example for image that you want to show as 16/9 - landscape
  width: 24vw, padding-bottom: (9/16) * width = 13.5
  
  Example for image that you want to show as 9/16 - portrait
  width: 24vw, padding-bottom: (16/9) * width = 42.6

  Have fun:)

*/
.hg__image,
.rg__image {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  pointer-events: none;
}
.hg__image--l {
  width: 14vw;
  padding-bottom: 0;
  height: 40vh;
}
.hg__image--m {
  width: 16vw;
  padding-bottom: 0;
  height: 34.55vh;
}
.hg__image--s {
  width: 21vw;
  height: 26vh;
}
.hg__image img,
.rg__image img,
.blog__image img,
.stage__image img,
.loader__image img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 60% 50%;
  object-position: 60% 50%;
  opacity: 0.8;
}
.hg__left .hg__image:nth-child(1) {
  top: 19vh;
  left: 13vw;
}
.hg__left .hg__image:nth-child(2) {
  top: 33vh;
  left: 5vw;
}
.hg__left .hg__image:nth-child(3) {
  top: 65vh;
  left: 7vw;
}
.hg__right .hg__image:nth-child(1) {
  top: 20vh;
  left: auto;
  right: 13vw;
  width: 18vw;
  height: 32vh;
  padding: 0;
}
.hg__right .hg__image:nth-child(2) {
  top: 32vh;
  height: 43vh;
  width: 17vw;
  left: auto;
  right: 5vw;
  z-index: 1;
  padding: 0;
}
.hg__right .hg__image:nth-child(3) {
  top: 65vh;
  padding: 0;
  left: auto;
  height: 28vh;
  right: 7vw;
  width: 20vw;
  z-index: 2;
}

/* =Reveal Gallery */
.reveal-gallery {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: var(--text-color);
  position: relative;
  z-index: 1;
}
.rg__column {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; /* equivalent to 33.33% */
  padding: 0 var(--h-gutter);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.rg__text--heading h3 {
  font-size: var(--size-lg);
  line-height: 1.192307692;
}
.rg__text--heading span {
  font-size: var(--size-sm);
  opacity: 0.5;
}
.rg__text--heading h3 {
  font-family: var(--font-heavy);
}

.rg__text {
  max-width: 17vw;
  z-index: 1;
  position: relative;
}
.rg__text--copy,
.stage__text p {
  font-weight: 300;
  letter-spacing: 0.03vw;
  font-size: var(--size-xs);
}
/* .rg__column.left {background-color:var(--bg-lightgreen)}
.rg__column.center {background-color: var(--bg-lightbrown)}
.rg__column.right {background-color:var(--bg-lightblue)} */
/* .rg__column::before {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  content: '';
  width: 1px;
  height: 20vh;
  transform: translateY(-50%);
  background-color: var(--text-color);
  opacity: 0.4
} */
.rg__image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.rg__image--mask {
  height: 100%;
  overflow: hidden;
}
.rg__image img {
  opacity: 0.6;
}
.rg__column.is-active .rg__image,
.rg__column.is-active .rg__image--mask {
  /* transform: translateY(0); */
}
.rg__text--copy {
  position: absolute;
  overflow: hidden;
}
.rg__text--mask {
  overflow: hidden;
}

/* =Loader */
.loader {
  background-color: var(--bg-loaderblue);
}
.loader,
.loader__content {
  min-height: 100vh;
  position: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
}
.loader__mask {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--bg-loaderblue)
    url("../img/./img/img_landscape-01-large.jpg") no-repeat center;
  background-size: 155px 155px;
  overflow: hidden;
}
.loader .inner,
.loader__content .inner {
  width: var(--loader-width);
  height: var(--loader-height);
}
.loader .inner {
  background-color: var(--bg-loaderbluedark);
  position: relative;
  -webkit-transform: scaleY(0.005);
  -ms-transform: scaleY(0.005);
  transform: scaleY(0.005);
  -webkit-transform-origin: bottom;
  -ms-transform-origin: bottom;
  transform-origin: bottom;
}
.loader .progress {
  background-color: var(--bg-lightblue);
  position: absolute;
  left: 0;
  top: 0;
  width: var(--loader-width);
  height: var(--loader-height);
}
.loader__content {
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: transparent;
  overflow: hidden;
  visibility: hidden;
}
.loader__title {
  font-size: var(--size-xxl);
  line-height: 1.2;
  margin: 0;
  font-family: var(--font-headings);
  color: var(--text-color);
  font-weight: normal;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 5;
}
.loader__image {
  width: var(--loader-width);
  padding-bottom: 50vh;
  overflow: hidden;
  position: relative;
}
.loader__title--mask {
  overflow: hidden;
  will-change: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.loader__title--mask span {
  display: block;
  white-space: pre;
}
.loader__image--mask {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
}

/* =Main */
main {
  z-index: 1;
  position: relative;
}
section {
  position: relative;
}
.with-padding {
  padding: var(--v-spacing) 0;
}
.with-padding-bottom {
  padding-bottom: var(--v-spacing);
}
.chapter {
  font-family: var(--font-heavy);
  position: absolute;
  left: var(--h-gutter);
  top: var(--v-spacing);
  z-index: 0;
  color: var(--text-color);
  font-size: var(--size-md);
}
.chapter span {
  opacity: 0.4;
}

/* =Portfolio */
.portfolio {
  margin-top: var(--v-spacing);
}

.portfolio .chapter {
  color: var(--text-color);
  top: 0;
}
.portfolio__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.portfolio__categories a {
  font-family: var(--font-heavy);
  color: var(--text-color);
  text-decoration: none;
  font-size: var(--size-xl);
  margin: auto;
  letter-spacing: 0.2vw;
  line-height: 1.5;
  -webkit-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}
.portfolio__categories a:hover {
  z-index: 1;
  -webkit-text-stroke: 2px var(--text-color);
  color: transparent;
}
.portfolio__image {
  pointer-events: none; /* important to be able to hover over links under the image */
  position: absolute;
  width: 40vw;
  top: 11vh;
  left: 50vw;
  background-color: #000;
  visibility: hidden;
  padding-bottom: 41.66vw;
}
.image_inside {
  position: absolute;
  opacity: 0.8;
  top: -10%;
  left: 0;
  width: 100%;
  height: 115%;
  background-size: cover;
}
.fill-background {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  will-change: background-color;
  background-color: var(--bg-fill-color);
  -webkit-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}

/* =Blog */
.blog {
  color: var(--text-color);
}

.blog__image {
  margin: 0 50% 0 16.6%;
  padding-bottom: 50%;
  position: relative;
  overflow: hidden;
}
.blog__image img {
  opacity: 1;
  height: 120%;
  top: -20%;
}
.post__date {
  font-size: 1.6vw;
  opacity: 0.6;
}
.blog__text {
  position: absolute;
  left: calc(50vw + var(--h-gutter));
  right: calc(var(--h-gutter) * 4);
  top: calc(
    50% + (var(--v-spacing) / 2)
  ); /* 50% not 50vh becasue blog is not 100vh */
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.blog__text h3 {
  font-family: var(--font-heavy);
  font-size: var(--size-lg);
  line-height: 1.192307692;
  font-weight: normal;
  letter-spacing: 0.2vw;
}

/* =Contact - same layout as blog, but flipped image and text */
.contact {
  padding-bottom: 0;
}
.contact .chapter {
  color: var(--text-color);
  margin-bottom: var(--v-spacing);
}
.contact p,
.contact .blog__text h3 {
  margin: unset;
}

.contact a {
  color: var(--text-color);
  text-decoration: unset;
}

.contact .blog__text h3 {
  margin-bottom: 2rem;
}

.contact .blog__text p {
  font-size: var(--size-xs);
}

.is-flipped .blog__image {
  margin: 0 16.6% 0 50%;
}
.is-flipped .blog__text {
  right: calc(50vw + var(--h-gutter));
  left: var(--h-gutter);
}

/* =How we work */
.parallax .chapter {
  top: calc(var(--v-spacing) * 2);
}
.fixed-nav {
  position: absolute;
  top: calc(var(--v-spacing) * 3);
  left: var(--h-gutter);
}
.fixed-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.fixed-nav li {
  overflow: hidden;
}
.fixed-nav a {
  color: var(--text-color);
  text-decoration: none;
  font-family: var(--font-headings);
  font-size: var(--size-xs);
  position: relative;
  padding-left: 1.8vw;
  -webkit-transform: translateX(-1.8vw);
  -ms-transform: translateX(-1.8vw);
  transform: translateX(-1.8vw);
  display: block;
  opacity: 0.4;
  -webkit-transition: all 0.3s var(--easing);
  -o-transition: all 0.3s var(--easing);
  transition: all 0.3s var(--easing);
}

.fixed-nav li a::before {
  content: "";
  display: block;
  height: 2px;
  width: 1.3vw;
  background-color: var(--text-color);
  position: absolute;
  top: 50%;
  left: 0;
}
.fixed-nav li.is-active a {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

.stage {
  margin-bottom: 1rem;
}

.stage__heading {
  font-family: var(--font-headings);
  position: relative;
  z-index: 2; /* fix for Safari */
}

.stage__heading h3 {
  font-family: var(--font-heavy);
}

.stage__heading h3,
.stage__heading p {
  position: absolute;
  left: 25vw;
  top: calc(var(--v-spacing) * -1.25);
  font-size: var(--size-lg);
  font-weight: normal;
  margin: 0;
  white-space: nowrap;
  color: var(--text-color);
}
.stage__heading p {
  font-size: 1.6vw;
  opacity: 0.4;
  top: calc(var(--v-spacing) * -1.75);
}
.stage__image {
  width: calc(50vw + var(--h-gutter));
  margin: 0 var(--h-gutter) 0 33.33vw;
  aspect-ratio: 16/9;
  background-color: #000000;
  overflow: hidden;
  position: relative;
  z-index: 1; /* fix for Safari */
}
.stage__image img {
  opacity: 0.9;
  height: 125%;
  top: -25%;
}
.contact .stage__image {
  aspect-ratio: 2/4;
  margin-left: auto;
}
.stage__text {
  color: var(--text-color);
  margin: 0 calc(30vw + var(--h-gutter)) var(--v-spacing) 33.33vw;
}
/* =Footer */

/* ==========================================================================
  Media Queries
 ========================================================================== */
@media only screen and (min-width: 1024px) {
  .contact .stage__image {
    height: 100vh;
    width: unset;
    aspect-ratio: 4/4;
  }
  .chapter {
    font-size: var(--size-sm);
  }
}

@media only screen and (max-width: 1024px) {
  #main > header {
    width: 100%;
    overflow-x: hidden;
  }
  header h1 {
    font-size: 14vw;
  }
  .decor__circle {
    width: 65vw;
    height: 65vw;
    top: 38vh;
    left: 8vw;
  }
  .hg__left .hg__image:nth-child(1) {
    top: 16vh;
    left: 5vw;
    width: 34vw;
    padding-bottom: 0;
    height: 19vh;
  }
  .hg__left .hg__image:nth-child(2) {
    top: 40vh;
    left: -18vw;
    width: 31vw;
    padding-bottom: 0;
    height: 28vh;
  }
  .hg__left .hg__image:nth-child(3) {
    top: 69vh;
    left: 3vw;
    width: 39vw;
    height: 20vh;
  }
  .hg__right .hg__image:nth-child(1) {
    top: 20vh;
    right: 3vw;
    width: 38vw;
    height: 21vh;
  }
  .hg__right .hg__image:nth-child(2) {
    top: 35vh;
    height: 17vh;
    width: 26vw;
    right: -2vw;
  }
  .hg__right .hg__image:nth-child(3) {
    top: 64vh;
    height: 22vh;
    right: -4vw;
    width: 25vw;
  }

  .portfolio {
    margin-bottom: 10vh;
  }
  .reveal-gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
  }
  .chapter {
    top: 0;
    margin: 0;
  }
  .rg__text {
    max-width: 50%;
  }
  .rg__text--heading h3 {
    font-size: var(--size-xl);
    margin: 0.8em 0;
  }
  .portfolio__categories a {
    font-size: var(--size-xxl);
  }
  .portfolio__categories a:hover {
    -webkit-text-stroke: 1px var(--text-color);
  }
  .portfolio__image {
    padding-bottom: 75vw;
    width: 70vw;
    left: 30vw;
  }
  .parallax .chapter {
    top: 0;
  }
  .fixed-nav,
  .pin-spacer {
    display: none;
  }
  .stage {
    padding: 0 var(--h-gutter);
  }
  .parallax .stage__image {
    margin: 0;
    width: 100%;
    aspect-ratio: 5/4;
  }
  .stage__heading p {
    display: none;
  }
  .stage__heading h3 {
    position: unset;
    margin: 1rem 0;
  }
  .stage__text {
    margin: 0;
    margin-bottom: var(--v-spacing);
  }
  .stage__text p {
    margin: 0;
  }
  .stage__image {
    width: calc(35vw + var(--h-gutter));
  }
}

@media only screen and (max-width: 700px) {
  .rg__text {
    max-width: 100%;
  }
  .rg__text--heading h3 {
    font-size: var(--size-xxl);
    margin: 0.5em 0;
  }
  .logo__text {
    font-size: 4vw;
  }
}
